---
import { TAGS } from "../constants/Tags.js";
import Tag from "./Tag.astro";
const PROJECTS = [
    {
        title: "Project 1",
        description:
            "lorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfd",
        link: "#",
        github: "#",
        image: "/projects/screenshot_optimized.webp",
        tags: [TAGS.FLUTTER, TAGS.TAILWIND],
    },
    {
        title: "Project 2",
        description:
            "lorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfd ",
        link: "#",
        github: "#",
        image: "/projects/screenshot_optimized.webp",
        tags: [TAGS.FLUTTER, TAGS.TAILWIND],
    },
    {
        title: "Project 3",
        description:
            "lorem ipsum.....as asdf f asdfd orem ipsum.....as asdf f asdfd orem ipsum.....as asdf f asdfdorem ipsum.....as asdf f asdfd",
        link: "#",
        github: "#",
        image: "/projects/screenshot_optimized.webp",
        tags: [TAGS.FLUTTER, TAGS.TAILWIND],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article>
            <h3 class="text-2xl font-semibold mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row">
                {tags.map((tag) => (
                    <Tag name={tag.name}>{<tag.icon class="size-5" />}</Tag>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`Captura de pantalla del proyecto ${title}`}
            />  
        </article>
    ))
}
